.similar-job-container {
  background-color: #272727;
  padding: 13px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.company-logo-role {
  display: flex;
  align-items: flex-start;
}
.job-details-company-logo {
  height: 40px;
  width: 40px;
}
.type-and-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding-left: 8px;
}
.type-of-engineer {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
  margin: 0px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .type-of-engineer {
    font-size: 20px;
  }
}
.rating-container {
  display: flex;
  align-items: center;
}
.star-icon {
  color: #fbbf24;
  margin-right: 6px;
}
.rating-text {
  font-family: 'Roboto';
  font-size: 11px;
  color: #ffffff;
}
.description-similar {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
}
.similar-job-description {
  font-family: 'Roboto';
  font-size: 11px;
  color: #ffffff;
  line-height: 20px;
  font-weight: 300;
}
