.job-card-details-container {
  background-color: #000000;
  min-height: 100vh;
}
.job-details-and-company {
  background-color: #272727;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.job-details-company-logo {
  height: 40px;
  width: 40px;
}
.company-logo-role {
  display: flex;
  align-items: flex-start;
}
.type-and-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding-left: 8px;
}
.type-of-engineer {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
  margin: 0px;
  font-weight: 600;
}
.similarHead {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
  margin: 0px;
  font-weight: 600;
  padding-left: 30px;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .similarHead {
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) {
  .type-of-engineer {
    font-size: 26px;
  }
}
.rating-container {
  display: flex;
  align-items: center;
}
.star-icon {
  color: #fbbf24;
  margin-right: 6px;
}
.rating-text {
  font-family: 'Roboto';
  font-size: 11px;
  color: #ffffff;
}
.location-text {
  font-family: 'Roboto';
  font-size: 11px;
  color: #ffffff;
  padding-right: 10px;
}
.location-container {
  display: flex;
  align-items: center;
}
.location-logo {
  color: #ffffff;
  margin-right: 8px;
}
.horizontal-line-list {
  border-style: 0.5px solid #7e858e;
  width: 100%;
}
.location-package-container {
  display: flex;
  justify-content: space-between;
}
.package {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
}
.description-and-visit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visit {
  font-family: 'Roboto';
  font-size: 15px;
  color: #6366f1;
  text-decoration: none;
  margin: 0px;
}
.website-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-icon {
  color: #6366f1;
}
.job-description {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
  line-height: 20px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .job-description {
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
  }
}
.skills-container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.skill-image {
  width: 30px;
  height: 30px;
  margin-right: 13px;
}
.skill-list {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 30px;
  width: 150px;
}
.skill-name {
  font-family: 'Roboto';
  font-size: 10px;
  color: #ffffff;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .skill-name {
    font-size: 12px;
    font-weight: 500;
  }
}
.life-at-company-image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .life-at-company-image {
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .description-image {
    display: flex;
    margin-bottom: 20px;
  }
}
.similar-jobs-list-container {
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .similar-jobs-list-container {
    display: flex;
  }
}
.failure-container-jobDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-head {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 14px;
}
.failure-para {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  margin: 0px;
  font-weight: 300;
}
.failure-button {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  border-width: 0px;
  background-color: #4f46e5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
}
